<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1 开启注解-->
    <mvc:annotation-driven/>

    <!-- 2静态资源默认servlet配置 用来获取静态资源-->
    <mvc:default-servlet-handler/>

    <!--或者-->
    <!--<mvc:resources location="/" mapping="//"/>-->
<!--    <context:property-placeholder location="classpath:app.properties"/>-->

    <!--配置velocity引擎-->
    <!-- velocity -->
    <bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/template/velocity/"/><!-- 設置模板防止位置-->
        <property name="velocityProperties">
            <props>
                <!--<prop key="directive.foreach.counter.name">loopCounter</prop>-->
                <!--<prop key="directive.foreach.counter.initial.value">0</prop>-->
                <prop key="input.encoding">UTF-8</prop><!-- 指定模板引擎进行模板处理的编码 -->
                <prop key="output.encoding">UTF-8</prop><!-- 指定输出流的编码 -->
            </props>
        </property>
    </bean>

    <bean id="ViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="suffix" value=".vm"/>
        <!--<property name="layoutUrl" value="layout/default.vm" />-->
        <property name="exposeRequestAttributes" value="true"/>
        <property name="requestContextAttribute" value="rc"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <!--<property name="attributes">-->
        <!--<map>-->
        <!--<entry key="stringUtil">-->
        <!--<bean class="com.itech.util.StringUtil" />-->
        <!--</entry>-->
        <!--<entry key="dateUtil">-->
        <!--<bean class="com.itech.util.DateUtil"/>-->
        <!--</entry>-->
        <!--</map>-->
        <!--</property>-->
    </bean>
    <!--  4 扫描web相关的bean  -->
    <context:component-scan base-package="org.seckill.web"/>

    <!--添加拦截器-->
<!--    <mvc:interceptors>-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            <bean class="org.seckill.interceptor.CatInterceptor"></bean>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->

</beans>